/* Contact.css */
.contact-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; /* Prevent horizontal overflow */
  }
  
  .contact-heading {
    text-shadow: #989898;
    font-size: 3rem;
    text-shadow: 1px 1px 1px limegreen, 0 0 .5em lightblue, 0 0 0.1em lightseagreen;
  }
  
  .content-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 3px;
    overflow-x: hidden; /* Prevent horizontal overflow */
  }
  
  .contact-links {
    border-radius: 1rem;
    overflow-x: hidden; /* Prevent horizontal overflow */
  }
  